#logoname{ 
    font-size: 35px;
    font-family: 'Caveat', cursive;
}
.logo{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}
#container-fluid{
    font-size: 10rem;
}

.heart{
width: 20px;
height: 20px;
}


#button1{
    color: black;
    border-color: black;   
}

#button2{
    background-color: black;
    border-color: black;
}

.container-fluid{
    background-color: rgb(209, 201, 201);   
}

#navbar11{
    padding:0
}

.carousel-inner{
  text-align: center;
}

#img1{
    
    width:1400px;
    height: 800px;
    margin-top:100px;
}

#quote1{
    margin-top: 100px;
    font-family: 'Caveat', cursive;
    font-size: 6rem;
}
#lead{
    font-size:2rem;
}

.text-body-secondary{
    font-size: 1.5rem ;
    
}

.fw-bold{
    font-size: 3rem;
}

.fw-semibold {
    font-size: 2rem;
}

.container{
    margin: 100px;
}

#cards{
    display: flex;
    text-align: center;
    justify-content: center;

}

.card{
    margin: 50px;
    
    
}

